@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header{
    background-color: black;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    position: relative;
    display: flex;
    align-items: center;
}


.header img{
    height: 100%;
}

.headerItems{
    display: flex;
    
    align-items: center;
    font-weight: bolder;
    font-size: 1.0rem;
    position: absolute;
    left: 20vw;
    color: white;
    gap: 20px;
    
}

.headerItem{
    font-family: 'Ubuntu', sans-serif;
}

.profile{
    position: absolute;
    right: 15%;
    color: white;
    display: flex;
    align-items: center;
}

.profile img {
    width: 32px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 15px;
}

.profileOwner{
    color: lightgray;
}

.sidebar{
    background-color: black;
    width: 50px;
    height: calc(100vh - 50px);
    position: fixed;
    left: 0;
}

.sidebarWrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 10px;
    gap: 26px;
    padding-top: 25px;
    align-items: center;
}

.sidebaritem{
    font-size: 1.5rem;
}

.djangoImg{
width: 200px;
}